on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time 99000
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load 240
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time 299000
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_time 199000
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_load 60
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_time 99000
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 0
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 600000:70 800000:75 1500000:80 1700000:90"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:80000 1200000:100000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 40000

    # param_index = 1
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 1
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 650000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 59000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "58 800000:65 1400000:70 1700000:80"
    
    # param_index = 2
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 2
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1300000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 79000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "55 800000:65 1500000:70"

    # param_index = 3
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 3
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1400000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 99000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "50 1200000:60 1600000:70"
