on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 600000:70 800000:75 1500000:80 1700000:90"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:80000 1200000:100000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 40000
