#============= boringssl_self_test ==============
allow boringssl_self_test same_process_hal_file:file r_file_perms;
allow boringssl_self_test vendor_file:file r_file_perms;
