#============= hwservicemanager ==============
allow hwservicemanager same_process_hal_file:file r_file_perms;
allow hwservicemanager vendor_file:file r_file_perms;
