#============= servicemanager ==============
allow servicemanager same_process_hal_file:file r_file_perms;
allow servicemanager vendor_file:file r_file_perms;
